<%= turbo_frame_tag "new-quest" do %>
  <% if @player.leader_status %>
    <%= form_with model: @quest, html: {class: "two-column-form"} do |f| %>
      <div class="vertical-inputs">
        <p>Quest participants:</p>
        <% @quest.quest_assignments.each do |quest_assignment| %>
          <%= f.fields_for :quest_assignments, quest_assignment do |fields| %>
            <%= fields.check_box :player_id, {checked: false}, "#{quest_assignment.player_id}" %>
            <%= fields.label :player_id, "#{quest_assignment.player.name}" %>
          <% end %>
        <% end %>
      </div>
      <div class="vertical-inputs">
        <p>Magic token holder:</p>
        <%= f.collection_radio_buttons :token_holder_id, @players, :id, :name %>
      </div>
      <%= f.submit %>
    <% end %>
  <% else %>
    <p>Waiting for <%= @leader.name %> to start quest...</p>
  <% end %>
<% end %>
