<table class="last-chance-table">
  <tr>
    <td></td>
    <td></td>
    <% players.reverse_order.each do |player| %>
      <th><%= player.name %></th>
    <% end %>
  </tr>
  <tr>
    <th>Morgan le Fay</th>
    <td><%= players[0].name %></td>
    <% players.reverse_order.each do |accuser| %>
      <% if accuser.left_pointee_id == players[0].id || accuser.right_pointee_id == players[0].id %>
        <td><%= image_tag "icons8-left-arrow-49.png" %></td>
      <% else %>
        <td></td>
      <% end %>
    <% end %>
  </tr>
  <tr>
    <th>Scion</th>
    <td><%= players[1].name %></td>
    <% players.reverse_order.each do |accuser| %>
      <% if accuser.left_pointee_id == players[1].id || accuser.right_pointee_id == players[1].id %>
        <td><%= image_tag "icons8-left-arrow-49.png" %></td>
      <% else %>
        <td></td>
      <% end %>
    <% end %>
  </tr>
  <% 3.times do |i| %>
    <tr>
      <th>Knight</th>
      <td><%= players[i + 2].name %></td>
      <% players.reverse_order.each do |accuser| %>
        <% if accuser.left_pointee_id == players[i + 2].id || accuser.right_pointee_id == players[i + 2].id %>
          <td><%= image_tag "icons8-left-arrow-49.png" %></td>
        <% else %>
          <td></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>

<%= render partial: "games/end", locals: {winning_team: Game.first.last_chance_winner, class_name: "with-table"} %>
