<h1>Current players:</h1>

<%= turbo_stream_from "player-list" %>
<%= turbo_stream_from "join-link" %>

<ul id="player-list">
  <% @players.each do |player| %>
    <li><%= player.name %> (<%= player.id %>)</li>
  <% end %>
</ul>

<h2>Your player_id</h2>
<%= session[:player_id] %>

<% if @player.is_first? %>
  <div id="join-link">
    <%= form_with model: @game do |f| %>
      Choose your game type:
      <%= f.hidden_field :number_of_players, value: @players.count %>
      <%= f.label :game_variant_standard, "Standard" %>
      <%= f.radio_button "variant", "standard" %>
      <%= f.submit "Start game" %>
    <% end %>
  </div>
<% else %>
  <div id="join-link">
    <p>Waiting for first player to choose game type...</p>
  </div>
<% end %>
