<h1>Current players:</h1>

<%= turbo_stream_from "player-list" %>
<%= turbo_stream_from "join-link" %>

<ul id="player-list">
  <% @players.each do |player| %>
    <li><%= player.name %></li>
  <% end %>
</ul>

<% if @player.is_first? %>
  <div id="join-link">
    <%= form_with model: @game, html: {class: "one-column-form"} do |f| %>
      <div class="vertical-inputs">
        <p>Choose your game type:</p>
        <%= f.radio_button "variant", "standard" %>
        <%= f.label :variant_standard, "Standard" %>
      </div>
      <%= f.submit "Start game" %>
    <% end %>
  </div>
<% else %>
  <div id="join-link">
    <p>Waiting for first player to choose game type...</p>
  </div>
<% end %>

<div class="centerpiece">
  <%= image_tag "camelot.jpg" %>
  <div class="caption">
    <p class="flavor">"On either side the river lie<br>
    Long fields of barley and of rye,<br>
    That clothe the wold and meet the sky;<br>
    And thro' the field the road runs by<br>
    To many-tower'd Camelot;"</p>
    <p class="flavor">- Alfred, Lord Tennyson, "The Lady of Shalott"</p>
  </div>
</div>
