<%= turbo_stream_from "main-stream" %>

<div class="grid-container">
  <div class="player-info">
    <h1>Your info</h1>
    <p>Team: <%= @player.team.capitalize %></p>
    <% if @player.role == "knight" %>
      <p>Role: Loyal knight of Arthur</p>
      <p class="flavor">"'[W]ilt thou leave / Thine easeful biding here, and risk thine all, / Life, limbs, for one that is not proven King?' . . . 'I will walk through fire . . . Not proven, who swept the dust of ruined Rome / From off the threshold of the realm, and crushed / The Idolaters, and made the people free? / Who should be King save him who makes us free?'"</p>
      <p class="flavor">- Alfred, Lord Tennyson, "Gareth and Lynette"</p>
    <% elsif @player.role == "scion"%>
      <p>Role: The Scion</p>
      <p class="flavor">"And kindly sped their parley, / And courteous was their cheer, / Nor sign was there from word or look / Betokened evil near / ... / A moment paused Sir Arthur / To cool his burning brow; / Three hundred knights had followed him -- / How many follow now?"</p>
      <p class="flavor">- Robert Buchanan, "Camlan"</p>
    <% elsif @player.role == "morgan" %>
      <p>Role: Morgan le Fay</p>
      <p>The scion is <%= @scion.name %></p>
      <p class="flavor">"With soft gray eyes she gloomed and glowered; / With soft red lips she sang a song: / What knight might gaze upon her face, / Nor fare along? / For all her looks were full of spells, / And all her words of sorcery; / And in some way they seemed to say / 'Oh, come with me!'"</p>
      <p class="flavor">- Madison Cawein, "Morgan Le Fay"</p>
    <% end %>
  </div>

  <% if @player.role == "knight" %>
    <%= image_tag "knight.jpg" %>
  <% elsif @player.role == "scion"%>
    <%= image_tag "scion.jpg" %>
  <% elsif @player.role == "morgan" %>
    <%= image_tag "morgan.jpg" %>
  <% end %>

  <%= render partial: "quests/index", locals: {quests: @quests, players: @players} %>

  <div id="lower-stream">
    <%= turbo_frame_tag "new-quest", src: new_quest_path %>
  </div>
</div>
