<%= turbo_stream_from "main-stream" %>

<h1>Your info</h1>
<p>Team: <%= @player.team.capitalize %></p>
<% if @player.role == "knight" %>
  <p>Role: Loyal knight of Arthur</p>
<% elsif @player.role == "scion"%>
  <p>Role: The Scion</p>
<% elsif @player.role == "morgan" %>
  <p>Role: Morgan le Fay</p>
  <p>The scion is <%= @scion.name %></p>
<% end %>

<%# top turbo stream
  quest index, updates when quest is created or updated

bottom turbo stream
  new quest form for leader, updates when quest is created
  update quest form for those on quest, updates when quest is updated
  good's last chance form for everyone, updates when all pointing objects are created?
  or update player form for leader (to select leader), updates when player is updated %>

<div id="upper-stream">
  <%= render partial: "quests/index", locals: {quests: @quests, players: @players} %>
</div>

<div id="lower-stream">
  <%= turbo_frame_tag "new-quest", src: new_quest_path %>
</div>
