<%= turbo_frame_tag "edit-player" do %>
  <p>Time for good's last chance!</p>

  <%= form_with model: @player, url: current_player_path, html: {class: "two-column-form"} do |f| %>
    <div class="vertical-inputs">
      <p>Select person:</p>
      <%= f.collection_radio_buttons :left_pointee_id, Player.all, :id, :name %>
    </div>
    <div class="vertical-inputs">
      <p>Select person:</p>
      <%= f.collection_radio_buttons :right_pointee_id, Player.all, :id, :name %>
    </div>
    <%= f.submit "Make accusation" %>
  <% end %>
<% end %>
