<div class="new-player-form">
  <%= form_with model: @player do |f| %>
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>
    <%= f.hidden_field :team, value: nil %>
    <%= f.hidden_field :role, value: nil %>
    <%= f.submit "Join game"%>
  <% end %>
</div>

<div class="centerpiece">
  <%= image_tag "camelot.jpg" %>
  <div class="caption">
    <p class="flavor">"On either side the river lie<br>
    Long fields of barley and of rye,<br>
    That clothe the wold and meet the sky;<br>
    And thro' the field the road runs by<br>
    To many-tower'd Camelot"</p>
    <p class="flavor">- Alfred, Lord Tennyson, "The Lady of Shalott"</p>
  </div>
</div>

<%= link_to "Reset game", game_path(1), data: {turbo_method: :delete}, class: "corner" %>
